.normal-logo {
  width: 310px !important;
  height: auto;
}

@media (max-width: 768px) {
  .normal-logo {
    height: 200px !important;
    width: auto !important;
    object-fit: contain;
  }
  .appointment-thumb-wrappper{
    display: none;
  }
}
